<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      News
    </ion-tab-button>
    <ion-tab-button tab="ranking">
      <ion-icon name="podium-outline"></ion-icon>
      Ranking
    </ion-tab-button>
    <ion-tab-button tab="fantasy">
      <ion-icon name="people-outline"></ion-icon>
      Your Team
    </ion-tab-button>
    <ion-tab-button tab="live">
      <ion-icon name="radio"></ion-icon>
      Live
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
