<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{userName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Fantasy Team</ion-title>
      <ion-buttons *ngIf="accessToken" slot="end">
        <ion-menu-button>
          <ion-icon size="large" name="person-circle"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="fantasy">
        <ion-label class="text-xs whitespace-normal">Your Team</ion-label>
      </ion-segment-button>
      <ion-segment-button value="team">
        <ion-label class="text-xs whitespace-normal">Build Your Team</ion-label>
      </ion-segment-button>
      <ion-segment-button value="score">
        <ion-label class="text-xs whitespace-normal">Players Scores</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content [fullscreen]="true">

    <!-- Fantasy Team container -->
    <ng-container *ngIf="selectedSegment === 'fantasy'">
      <ion-content class="ion-padding" style="--background: url('assets/imgs/pitch.png') center center / cover no-repeat fixed;">
        <ion-grid class="mt-6">
          <ion-row class="text-lg">
            <ion-col *ngFor="let player of getPlayersByRole('GK')" class="text-center">
              <ion-label class="text-base bg-white text-black">   {{player.surname}}   </ion-label>
            </ion-col>
            <ion-label *ngIf="getPlayersByRole('GK')?.length === 0" class="text-lg"> &nbsp; </ion-label>
          </ion-row>
          <ion-row class="mt-7">
            <ion-col *ngFor="let player of getPlayersByRole('DEF')" class="text-center">
              <ion-label class="text-base bg-white text-black">   {{player.surname}}   </ion-label>
            </ion-col>
            <ion-label *ngIf="getPlayersByRole('DEF')?.length === 0" class="text-lg"> &nbsp; </ion-label>
          </ion-row>
          <ion-row class="mt-8">
            <ion-col *ngFor="let player of getPlayersByRole('MF')" class="text-center">
              <ion-label class="text-base bg-white text-black">   {{player.surname}}   </ion-label>
            </ion-col>
            <ion-label *ngIf="getPlayersByRole('MF')?.length === 0" class="text-lg"> &nbsp; </ion-label>
          </ion-row>
          <ion-row class="mt-12">
            <ion-col *ngFor="let player of getPlayersByRole('ATK')" class="text-center">
              <ion-label class="text-base bg-white text-black">   {{player.surname}}   </ion-label>
            </ion-col>
            <ion-label *ngIf="getPlayersByRole('ATK')?.length === 0" class="text-lg"> &nbsp; </ion-label>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-container>

    <!-- Build your Team container -->
    <ng-container *ngIf="selectedSegment === 'team'">
      <ion-title class="my-8 text-center">Build your own Fantasy Team!</ion-title>

      <ion-button id="open-modal" expand="block" class="mx-4" shape="round">Add A Player</ion-button>
      <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <ion-list>
              <ion-item *ngFor="let player of playersList">
                <ion-checkbox [(ngModel)]="player.isSelected">{{ player.surname }} {{ player.name }} ({{player.role}})</ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-segment [(ngModel)]="selectedRole">
        <ion-segment-button value="gk">
          <ion-label>GK</ion-label>
        </ion-segment-button>
        <ion-segment-button value="def">
          <ion-label>DEF</ion-label>
        </ion-segment-button>
        <ion-segment-button value="mid">
          <ion-label>MF</ion-label>
        </ion-segment-button>
        <ion-segment-button value="atk">
          <ion-label>ATK</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ng-container *ngIf="selectedRole === 'gk'">
        <ion-list lines="full" [inset]="true">
          <div *ngFor="let player of inTeamPlayers">
            <ion-item *ngIf="player.role === 'GK'">
              <ion-item>
                <ion-label>{{ player.surname }} {{ player.name }}</ion-label>
              </ion-item>
            </ion-item>
          </div>
        </ion-list>
      </ng-container>

      <ng-container *ngIf="selectedRole === 'def'">
        <ion-list lines="full" [inset]="true">
          <div *ngFor="let player of inTeamPlayers">
            <ion-item *ngIf="player.role === 'DEF'">
              <ion-item>
                <ion-label>{{ player.surname }} {{ player.name }}</ion-label>
              </ion-item>
            </ion-item>
          </div>
        </ion-list>
      </ng-container>

      <ng-container *ngIf="selectedRole === 'mid'">
        <ion-list lines="full" [inset]="true">
          <div *ngFor="let player of inTeamPlayers">
            <ion-item *ngIf="player.role === 'MF'">
              <ion-item>
                <ion-label>{{ player.surname }} {{ player.name }}</ion-label>
              </ion-item>
            </ion-item>
          </div>
        </ion-list>
      </ng-container>

      <ng-container *ngIf="selectedRole === 'atk'">
        <ion-list lines="full" [inset]="true">
          <div *ngFor="let player of inTeamPlayers">
            <ion-item *ngIf="player.role === 'ATK'">
              <ion-item>
                <ion-label>{{ player.surname }} {{ player.name }}</ion-label>
              </ion-item>
            </ion-item>
          </div>
        </ion-list>
      </ng-container>
    </ng-container>

    <!-- Team Score container -->
    <ng-container *ngIf="selectedSegment === 'score'">

      <ion-title class="my-8 text-center">Your Fantasy Team Scores</ion-title>

      <ion-grid>
        <ion-row *ngFor="let player of inTeamPlayers" class="border-2 border-gray-400">
          <ion-col>
            {{ player.surname }} {{ player.name }}
          </ion-col>
          <ion-col size="2" class="mr-1 text-end" >
            {{ player.score }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ion-content>
</div>
