<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{userName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Serie A News
        <ion-icon name="football-outline"></ion-icon>
      </ion-title>
      <ion-buttons *ngIf="accessToken" slot="end">
        <ion-menu-button>
          <ion-icon size="large" name="person-circle"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="selectedSegment">
      <ion-segment-button value="all">
        <ion-label class="text-xs">News</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label class="text-xs">PlaceHolder News</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-content [fullscreen]="true">
    <ng-container *ngIf="selectedSegment === 'all'">
      <!-- per mostrare le carte quando è selezionata il segmento all -->
      <!-- <ion-card *ngFor="let newsItem of allNews">
      </ion-card>
      -->
      <ion-card id="click-trigger">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Notizia generale</ion-card-title>
          <ion-card-subtitle>Sottotitolo notizia generale</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrizione breve della card, potrei metterla dopo nel pop-up.
        </ion-card-content>
      </ion-card>
      <ion-popover trigger="click-trigger" triggerAction="click" alignment="center" size="cover">
        <ng-template>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Notizia generale</ion-card-title>
              <ion-card-subtitle>Sottotitolo notizia generale</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Descrizione lunga della card, Descrizione lunga della card, Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,
              Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,
              Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-popover>
      <ion-card id="click-trigger2">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Notizia generale</ion-card-title>
          <ion-card-subtitle>Sottotitolo notizia generale</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrizione breve della card, potrei metterla dopo nel pop-up.
        </ion-card-content>
      </ion-card>
      <ion-popover trigger="click-trigger2" triggerAction="click" alignment="center" size="cover">
        <ng-template>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Notizia generale</ion-card-title>
              <ion-card-subtitle>Sottotitolo notizia generale</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Descrizione lunga della card, Descrizione lunga della card, Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,
              Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,
              Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,Descrizione lunga della card, Descrizione lunga della card,
            </ion-card-content>
          </ion-card>
        </ng-template>
      </ion-popover>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Notizia generale</ion-card-title>
          <ion-card-subtitle>Sottotitolo notizia generale</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrizione breve della card, potrei metterla dopo nel pop-up.
        </ion-card-content>
      </ion-card>
    </ng-container>

    <ng-container *ngIf="selectedSegment === 'favorites'">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Notizia specifica</ion-card-title>
          <ion-card-subtitle>Sottotitolo notizia specifica</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrizione breve della card, potrei metterla dopo nel pop-up.
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-content>
</div>