<ion-content class="ion-padding">
  <div class="flex flex-col items-center justify-center h-full">
    <div class="mb-8 flex items-center justify-center">
      <img src="assets/imgs/seriealogo.jpg" alt="Placeholder Image" class="w-1/2 h-auto">
    </div>

    <div class="m-8 flex text-xl text-center font-bold">
      <p>Welcome to Serie A News & Fantasy Football</p>
    </div>

    <div class="m-4">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-lg">
        <span class="mx-4">Sign In / Sign Up</span>
        <ion-icon class="align-middle" name="log-in-outline" size="large"></ion-icon>
      </button>
    </div>
  </div>
</ion-content>
